<%- include("partials/header"); -%>

<div class="content">
  <div class="form-group">
    <form action="/compose" method="POST">
        <label for="postTitle">Title</label>
        <input
            type="text"
            name="postTitle"
            placeholder="Post Title"
            id="postTitle"
            class="form-control"
            required="required"
            />

        <label for="postBody">Body</label>
        <textarea
            name="postContent"
            rows="5"
            cols="40"
            placeholder="Post Body"
            id="postContent"
            class="form-control"
        ></textarea>
      <input type="hidden" name="id" value=<%=id %> >
      <input type="hidden" name="userEmail" value=<%=userEmail %> >
      <button class="btn btn-primary edit-btn" type="submit">submit</button>
      <button type="button" class="btn btn-dark edit-btn"
      onclick="window.location.href='/home?valid=<%=userEmail %>';">
        Back
      </button>
    </form> 

  </div>
</div>
<%- include("partials/footer"); -%>
