<%- include("partials/header"); -%>

<div class="content">
  
  <h2 style="display: inline">
    <%=title %>
    <h3 style="display: inline">- written at <%=date %></h4>
  </h2>
  <hr style="border-top: 1px solid #353935" />
  <p><%=content %></p>
    
  <form class="post-form" action="/edit" method="POST">
    <input type="hidden" name="id" value=<%=id %> >
    <button type="submit" class="btn btn-primary edit-btn">Edit</button>
  </form>

  <form class="post-form" action="/delete" method="POST">
    <button type="submit" class="btn btn-danger delete-btn" name="id" value=<%=id %>>Delete</button>
  </form>

</div>
<%- include("partials/footer"); -%>
